<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>布局</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="layout.css">
</head>

<body>
  <div class="container">
    <h2>块级元素水平居中</h2>
    <div class="center-block"></div>
    <h2>一行上多个元素</h2>
    <div class="labels">
      <label class="labels__item">高</label>
      <label class="labels__item">富</label>
      <label class="labels__item">帅</label>
    </div>
    <h2>两端对其</h2>
    <div class="navs navs--between">
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航1</div>
      </a>
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航2</div>
      </a>
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航3</div>
      </a>
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航4</div>
      </a>
    </div>
    <h2>居中对其</h2>
    <div class="navs navs--around">
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航1</div>
      </a>
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航2</div>
      </a>
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航3</div>
      </a>
      <a href="###" class="navs__item">
        <img src="" alt="" class="navs__item__pic">
        <div class="navs__item__text">导航4</div>
      </a>
    </div>
    <h2>复杂一点的布局</h2>
    <a href="###" class="info">
      <div class="info__item info__img-wrap">
        <img src="" alt="" class="info__img">
      </div>
      <div class="info__item info__item--fill">
        <h3 class="info__title">某某几日游</h3>
        <div class="info__other">
          <div class="info__other__item">
            导游：Shary Li</div>
          <div class="info__other__item">3000元</div>
        </div>
      </div>
    </a>
  </div>
</body>

</html>
