@charset "utf-8";
// 文本尾部省略号 http://mattsnider.com/css-string-truncation-with-ellipsis/
@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
	-o-text-overflow: ellipsis;  // for Opera 9 & 10
}