/*
  雅黑
  "STXihei" 是微软雅黑在Mac平台上的对应字体
*/
.ff-yahei{
  font-family: tahoma,arial,"STXihei","Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
}
/* 普通黑体 */
.ff-hei{
    font-family: tahoma,arial,"STXihei",SimHei,"Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
}
/* 宋体 */
.ff-song{
  font-family: tahoma,arial,"宋体", SimSun;
}