.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多行省略号。 兼容性比较差。*/
.text-ellipsis-multi($line:2) {
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  /*可能需要行高*/
  /*line-height: 130%;*/
}

/* 禁止选中文本 */
.text-no-select() {
  user-select:none;
}