/* http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html*/
.ly {
  display: -ms-flexbox;
  display: flex;
  &--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  &--right {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  &--justify {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &__item {
    &--fill {
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  }
}
