<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>float demo</title>
  <style>
  img {
    float: left;
    width: 200px;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
  }
  </style>
</head>

<body>
  <div class="container">
    <img src="image/float.png" alt="">
    <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aliquam tincidunt mauris eu risus.Vestibulum auctor dapibus neque.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aliquam tincidunt mauris eu risus.Vestibulum auctor dapibus neque.
    </div>
  </div>
</body>

</html>
