@charset "utf-8";
// 单行省略号。 http://mattsnider.com/css-string-truncation-with-ellipsis/
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 多行省略号。 兼容性比较差。
@mixin ellipsis-multi($line:2) {
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  /*可能需要行高*/
  /*line-height: 130%;*/
}

// 禁止选中文本
@mixin no-select() {
  user-select:none;
}


/*强制不换行*/
// white-space:nowrap;
/*自动换行*/
// word-wrap: break-word;
// word-break: normal;
/*强制英文单词断行*/
// word-break:break-all;

