.ly {
  display: flex;
}

.ly--center {
  justify-content: center;
}

.ly--right {
  justify-content: flex-end;
}

.ly--justify {
  justify-content: space-between;
}

.ly__item--fill {
  flex-grow: 1;
}

.ly--middle {
  align-items: center;
}
