.block{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-width: 5px;
  border-color: #f00;
}
.solid-border{
  border-style: solid;
}
.dashed-border{
  border-style: dashed;
}
.dotted-border{
  border-style: dotted;
}
.border-image{
  border-style: solid;
  border-image: url(image/bg.jpg) 30 30;
}
.border-img {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 20px;
  background: url(image/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 10px;
}

.border-img__inner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
}

.border-img-use-bg {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 20px solid transparent;
  background: linear-gradient(white, white), url(image/bg.jpg);
  background-size: cover;
  background-clip: padding-box, border-box;
  background-origin: border-box;
}
